@font-face {
    font-family:"Fontspring-DEMO-theseasons-reg";
    src: url("Fontspring-DEMO-theseasons-reg.otf");
  }
main{
    position: relative;
    height: 90vh;
    background-image: url('1-Calder-Clark-Wedding-Planner-Dulcie+Nelson-Montana-Destination-Event-Design.jpg');
    background-position: 50% 94%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0%;
    padding: 0%;
}
.navbar{
    height:70px;
}
.navbar-brand img {
    width: 80px;
  }
  .navbar-nav {
    align-items: center;
  }
  .navbar .navbar-nav .nav-link {
    color: #fff;
    font-size: 1.1em;
    padding: 0.5em 1em;
  }
  @media screen and (min-width: 768px) {
    .navbar-brand img {
      width: 100px;
    }
    .navbar-brand {
      margin-right: 0;
      padding: 0 1em;
    }
  }  
.s-5 {
    margin-left:350px;
  }
.logo2 img{
    margin-top:60px;
    margin-left:400px;
}
/* ___________________________________ */
.marq{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 12px;
}
.geek1 img{
    height:40px;
    padding:6px;
}
.geek2{
    display: flex;
}
.marq2 {
    border-bottom: 1px solid black;
    padding: 12px;
}
.geek2 img{
    height: 30px;
}
/* ___________________________________ */
#pic{
    background-image: url("CC-wedding-pattern-design-stripes.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0%;
    padding: 0%;
    height:90vh;
    background-position: 50% 94%;
    margin-left: -200px;
}
#pic img{
    height:500px;
    width:350px;
    margin-left:170px;
    margin-top:40px;
}
.table1{
    width: 80vw;
    margin:10px auto; 
    display: grid;
    grid-auto-rows:50px;
    gap:70px;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    font-family:"Fontspring-DEMO-theseasons-reg";

}
#pic1{
    background-color: #6c7d5a;
    color: #fff;
    padding: 12px;
    height:450px;
    width: 550px;
    margin-right:220px;
    margin-top:60px;
}
.j img{
    height:150px;
    width:140px;
}