@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');

:root{
--color:rgb(244, 187, 244); 
}

body {
  font-family: 'Red Hat Text', sans-serif;
}

.container {
  text-align: center;
  color: var(--color);
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(ceremony.jpeg);
  background-size: cover;
  background-position: center;
  
/*  this is where the magic happens:  */
  background-attachment: fixed;
}
h1 {
    font-weight: 700;
    font-size: 3rem;
  }
  
  p {
    max-width: 52ch;
    line-height: 1.5;
    padding: 1em;
  }
  .blank,
.other {
  width: 100%;
  min-height: 60vh;
  background-color: var(--color);
}
a{
  text-decoration: none;
  --color:rgb(244, 187, 244); 
}