body{
    padding:0px;
    margin:0px;
}


#back{
    height:700px;
    width:1200px;
    background-image: url("reception\ main.jpeg");
    background-size: cover;
}
#porfolio{
    padding-left:500px;
    padding-top:350px;
    color:white;
    font-size: 60px;
    font: italic  "Fira Sans", serif;
}
#mid{
    height:250px;
    text-align: center;
    background-color: white;

}
#contain{
    display:flex;
    justify-content: space-around;
    margin-top: 50px;
    
}