body {
  font-family: 'Baskervville SC', serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-family: 'Fraunces', serif;
  color: white;
}

.navbar {
  padding: 1rem 2rem;
}

.navbar-brand img {
  height: 100px;
  margin-top:-40px;
}

.nav-link {
  font-family: 'Libre Baskerville', serif;
  font-size: 1.2rem;
  color: #fff !important;
  margin: 0 15px;
}
.container {
  text-align: center;
  color: white;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("receptionmain.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


#contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  max-width: 1200px;
}
.blank,
.other {
  width: 100%;
  min-height: 40vh;
  background-color: var(--color);
  background-image: url("wed.jpg");
  background-size: cover;


}
.written{
  font-size:2rem;
  background-color: white;
  text-align: center;
  height:250px;
  
}
#myVideo {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
#ima {
  border: 10px solid #6c7d5a;
  padding: 13px;
  margin: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

#ima:hover {
  transform: scale(1.05);
}



@media (max-width: 768px) {
  #ima {
      width: 200px;
      height: 250px;
  }

  .navbar-nav .nav-link {
      font-size: 1rem;
      margin: 0 10px;
  }
  .navbar-brand img {
      height: 100px;
      margin-bottom:-30px;
  }
  .written{
    font-size:1.5rem;
    height:150px;}
}

@media (max-width: 576px) {
  #ima {
      width: 150px;
      height: 200px;
  }

  h1 {
      font-size: 1.5rem;
  }

  .navbar-brand img {
      height: 100px;
      margin-bottom:-20px;
  }

  .navbar-nav {
      text-align: center;
  }

  .navbar-nav .nav-link {
      margin: 5px 0;
  }
}
.blank {
  height: 20px;
}
@media (max-width: 425px) {
  written{
    font-size:.5 rem;
    height:150px;}
}


