body{
    padding:0px;
    margin:0px;
   
}

#m{
    text-align: center;
    
}
#S{
    font-size: 1.5rem;
}
#p{
    font-size: 2rem;
}
#grey{
    background-color: rgb(234, 228, 228);
    width:100%;
    height:450px;
}
#img{
    margin-left: 20px;
    margin-top:-50px;
}
#written{
    font-size: 2rem;
}
#main{
    display: flex;
    justify-content: space-between;
}
#nation{
    height:200px;
    
}
#celeb{
    text-align: center;
}
#count{
    display: flex;
    flex-wrap: wrap;
    font-size:20px;
    text-align: center;
    line-height: 1.3;
    margin-left: 20px;
}